/*///////////////////////////////////////////////////////////////////////////*/
/* data.css                                                                  */

.data-card {
	background-color: #0c162d;
  border-radius: 15px;
	overflow: hidden;
	padding: 0;
}

.data-card-column {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.data-card-row {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

