/*///////////////////////////////////////////////////////////////////////////*/
/* hedron.css                                                                */

:root {
  --color-background-dark:        #111111;
  --color-background-light:       #272727;
  --color-base-dark:              #141414;
  --color-base-foundation:        #242424;
  --color-base-light:             #636363;
  --color-button:                 #434343;
  --color-caution:                #ffcc00;
  --color-dashboard:              #272935;
	--color-deep-blue:							#030b21;
  --color-document:               #343434;
  --color-document-highlight:     #434343;
  --color-highlight:              #7ebbed;
  --color-input:                  #34394e88;
  --color-paper-dark:             #cccccc;
  --color-paper-foundation:       #f5f5f5;
  --color-paper-light:            #ffffff;
	--color-placeholder:						#777fa088;
  --color-primary-dark:           #6168cb;
  --color-primary-foundation:     #9496ff;
  --color-primary-light:          #c8c7ff;
  --color-terminal:               #242424;
  --color-tertiary-dark:          #008d43;
  --color-tertiary-darkest:       #005c2c;
  --color-tertiary-foundation:    #00bf6f;
  --color-tertiary-light:         #5bf39e;
  --color-text-document-green:    #8fff8f;
  --color-text-document-orange:   #ffb429;
  --color-text-document-primary:  #bdbeff;
  --color-text-document-red:      #ffadad;
  --color-text-dark:              #1b1b1b;
  --color-text-light:             #eeeeee;
  --color-secondary-dark:         #c40023;
  --color-secondary-darkest:      #ad0009;
  --color-secondary-foundation:   #ff414b;
  --color-secondary-light:        #ff7977;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* body                                                                      */

body {
	background-color: var(--color-deep-blue);
  color: var(--color-text-dark);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: "Roboto", sans-serif;*/
  text-rendering: optimizelegibility;
  word-wrap: break-word;
  overflow: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* basic classes                                                             */

.column {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.container {
	overflow: hidden;
	padding: 0;
}

.container_scroll_y {
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
}

.container_scroll_y::-webkit-scrollbar {
	width: 15px;
}

.container_scroll_y::-webkit-scrollbar-track {
	background-color: transparent;
  border-radius: 15px;
}

.container_scroll_y::-webkit-scrollbar-thumb {
	border: 3px solid transparent;
	background-color: #6dc0f0;
  background-clip: content-box;
	border-radius: 15px;
}

.container_scroll_y::-webkit-scrollbar-thumb:hover {
	background-color: #91f3d1;
}

.row {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* text                                                                      */

h1 {
  font-size: 4.0em;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  text-rendering: optimizeLegibility;
}
p, h2, h3, h4, h5, h6,
.document, .document_large, .document_medium, .document_small, .document_title,
.document textarea, .document_large textarea, .document_medium textarea, .document_small textarea,
.document textarea-lg, .document_large textarea-lg, .document_medium textarea-lg, .document_small textarea-lg,
label, table, textarea {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03em;
  line-height: 1.77em;
  word-wrap: break-word;
  text-rendering: optimizelegibility;
}
.document, .document_large, .document_medium, .document_small,
.document_large textarea, .document_medium textarea, .document_small textarea,
.document_large textarea-lg, .document_medium textarea-lg, .document_small textarea-lg {
	padding: 0px 12px 0px 12px;
}

.document_large, .document_large textarea, .document_large textarea-lg {
  font-size: 24px;
  text-align: justify;
}
.document_medium, .document_medium textarea, .document_medium textarea-lg {
	font-size: 20px
}

.document, .document textarea, .document textarea-lg, table {
	font-size: 18px
}

.document_small, .document_small textarea, .document_small textarea-lg {
	font-size: 14px;
}

sup { vertical-align: super; }

sub { vertical-align: sub; }

.ellipsis {
  display: block;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* data elements                                                             */

.data_card {
	background-color: #0c162d;
  border-radius: 15px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0;
}

.data_card_html_element {
	display: block;
	box-sizing: border-box;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* input                                                                     */

.input_lg_container {
	display: flex;
	border-left: none;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;
}

.input_lg_container:focus-within {
	border-image: linear-gradient(45deg, #91f3d1, #6dc0f0) 1;
}

.input_lg, .input_lg_button {
	background-color: var(--color-input);
	border-bottom: 3px solid transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
  color: var(--color-text-light);
	font-size: 18px;
  height: 46px;
  line-height: 1.3333333;
  padding: 10px 16px;
}

.input_lg_button {
	cursor: pointer;
}

.input_lg_button:hover {
	color: var(--color-text-light);
}

::placeholder, .input-lg-button { color: var(--color-placeholder); }

.autocomplete { position: relative; }
.autocomplete_items {
  background-color: var(--color-input);
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 0px 0px 6px 6px;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
	box-sizing: border-box;
  color: var(--color-text-light);
}

.form-control ~ .autocomplete_items { top: 46px; }
.autocomplete_items div {
  cursor: pointer;
  padding: 10px;
}

.autocomplete_items div:hover {
  color: var(--color-text-light);
  background-color: green;
}
.autocomplete_active {
  background-color: darkgreen;
  color: var(--color-text-light);
}

/*///////////////////////////////////////////////////////////////////////////*/
/* modals                                                                    */

.modal_container {
  background-color: transparent;
  display: none;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
}
.modal {
	background-color: var(--color-input);
	border: 3px solid transparent;
	box-shadow: 0 2px 5px #000;
	box-sizing: border-box;
  color: var(--color-text-light);
	height: 30vh;
  left: 50%;
  margin: none;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
  position: fixed;
  top: 50%;
	transform: translate(-50%, -50%);
	width: 40vw;
	z-index: 101;
}

.modal_text {
	margin-left: 25px;
	border-left: 10px solid transparent;
	border-image: linear-gradient(45deg, #91f3d1, #6dc0f0) 1;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* tables                                                                    */

table {
	border-collapse: collapse;
	color: white;
	border-bottom: 1px solid white;
	border-spacing: 10px;
	box-sizing: border-box;
	width: 100%;
}

table thead tr:first-child {
	border-bottom: 1px solid white;
}

tr {
	width: 100%;
}

th, td {
	text-align: center;
	padding: 8px
}