/*///////////////////////////////////////////////////////////////////////////*/
/* hedron.css                                                                */

:root {
  --color-background-dark:        #111111;
  --color-background-light:       #272727;
  --color-base-dark:              #141414;
  --color-base-foundation:        #242424;
  --color-base-light:             #636363;
  --color-button:                 #434343;
  --color-caution:                #ffcc00;
  --color-dashboard:              #272935;
	--color-deep-blue:							#030b21;
  --color-document:               #343434;
  --color-document-highlight:     #434343;
  --color-highlight:              #7ebbed;
  --color-input:                  #34394e88;
  --color-paper-dark:             #cccccc;
  --color-paper-foundation:       #f5f5f5;
  --color-paper-light:            #ffffff;
	--color-placeholder:						#777fa088;
  --color-primary-dark:           #6168cb;
  --color-primary-foundation:     #9496ff;
  --color-primary-light:          #c8c7ff;
  --color-terminal:               #242424;
  --color-tertiary-dark:          #008d43;
  --color-tertiary-darkest:       #005c2c;
  --color-tertiary-foundation:    #00bf6f;
  --color-tertiary-light:         #5bf39e;
  --color-text-document-green:    #8fff8f;
  --color-text-document-orange:   #ffb429;
  --color-text-document-primary:  #bdbeff;
  --color-text-document-red:      #ffadad;
  --color-text-dark:              #1b1b1b;
  --color-text-light:             #eeeeee;
  --color-secondary-dark:         #c40023;
  --color-secondary-darkest:      #ad0009;
  --color-secondary-foundation:   #ff414b;
  --color-secondary-light:        #ff7977;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* body                                                                      */

body {
	background-color: var(--color-deep-blue);
  color: var(--color-text-light);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: "Roboto", sans-serif;*/
  text-rendering: optimizelegibility;
  word-wrap: break-word;
  overflow: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* data elements                                                             */

.data-card {
	background-color: #0c162d;
  border-radius: 15px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0;
}

.data-card-column {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.data-card-html-element {
	display: block;
	box-sizing: border-box;
}

.data-card-row {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* input                                                                     */

.input-lg-container {
	display: flex;
	border-left: none;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;
}

.input-lg-container:focus-within {
	border-image: linear-gradient(45deg, #91f3d1, #6dc0f0) 1;
}

.input-lg, .input-lg-button {
	background-color: var(--color-input);
	border-bottom: 3px solid transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
  color: var(--color-text-light);
	font-size: 18px;
  height: 46px;
  line-height: 1.3333333;
  padding: 10px 16px;
}

.input-lg-button {
	cursor: pointer;
}

.input-lg-button:hover {
	color: var(--color-text-light);
}

::placeholder, .input-lg-button { color: var(--color-placeholder); }

.autocomplete { position: relative; }
.autocomplete-items {
  background-color: var(--color-input);
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 0px 0px 6px 6px;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
	box-sizing: border-box;
  color: var(--color-text-light);
}

.form-control ~ .autocomplete-items { top: 46px; }
.autocomplete-items div {
  cursor: pointer;
  padding: 10px;
}

.autocomplete-items div:hover {
  color: var(--color-text-light);
  background-color: green;
}
.autocomplete-active {
  background-color: darkgreen;
  color: var(--color-text-light);
}

